

<launch>
    <!-- 运行地图服务器，加载转换后的pgm地图 -->
    <arg name="map_file" default="$(find RobotCar)/map/2d-11.yaml"/>
    
    <node name="map_server" pkg="map_server" type="map_server" 
          args="$(arg map_file)" 
          output="screen">
        <param name="frame_id" value="map"/>
    </node>
</launch>
